@using Shop.Model
@using Shop.Common
@{
    var configModel = SerializationHelper.Load(typeof(Config), Server.MapPath("/Content/settings/siteConfig.xml")) as Config;
}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href='@Url.Content("~/resource/css/font-awesome.min.css")' />
    <link rel="stylesheet" href='@Url.Content("~/resource/css/site.css")' />
    <script type="text/javascript" src='@Url.Content("~/Scripts/zepto/zepto.min.js")'></script>
</head>
<body data-theme='@configModel.PhoneStyle'>
    @RenderBody()
    <footer class="footer">
        <div class="dis-flex nav tc">
            <a href="javascript:;" class="on"><i class="fa fa-home"></i><p>首页</p></a>
            <a href="javascript:;"><i class="fa fa-gift"></i><p>活动专场</p></a>
            <a href="javascript:;"><i class="fa fa-shopping-cart"></i><p>购物车</p></a>
            <a href="javascript:;"><i class="fa fa-user"></i><p>个人中心</p></a>
        </div>
    </footer>
</body>
@RenderSection("Js", false)
</html>