@using Shop.Common.Config
@using Shop.Model
@{
    var configModel = Shop.Web.ViewModel.ApplicationConfigs.GetConfigInfo;
}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href='@Url.Content("~/resource/css/font-awesome.min.css")' />
    <link rel="stylesheet" href='@Url.Content("~/resource/css/site.css")' />
    <link rel="stylesheet" href='@Url.Content("~/resource/css/common.css")' />
    <script type="text/javascript" src='@Url.Content("~/Scripts/zepto/zepto.min.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/Mobile/site.js")'></script>

    @RenderSection("Head", false)
    <!--[if lte IE 8]>
        <script>
            var newEles=['article','aside','footer','header','nav','section'],nl=newEles.length;
            for(i=0;i<nl;i++) {
                document.createElement(newEles[i]);
            }
        </script>
    <![endif]-->

</head>
<body data-theme='@configModel.PhoneStyle'>
    @RenderBody()
    <footer class="footer">
        <div class="dis-flex nav tc">
            <a href='@Url.RouteUrl("Phone_yaodian")' class="on">
                <i class="fa fa-home"></i>
                <p>首页</p>
            </a>
            <a href="javascript:;">
                <i class="fa fa-gift"></i>
                <p>98券</p>
            </a>
            <a href="javascript:;">
                <i class="fa fa-shopping-cart"></i>
                <p>购物车</p>
            </a>
            <a href="javascript:;">
                <i class="fa fa-user"></i>
                <p>我的</p>
            </a>
        </div>
    </footer>
    <div class="go-top-btn" id="goTop" onclick="goTop();" style="display: none"></div>
</body>
@RenderSection("Js", false)
</html>