@model Shop.Model.Menu
@{
    ViewBag.Title = "Menu_Create";
}
<h2 class="contentTitle">π用药二级菜单</h2>
<div class="pageContent">
    @using (Html.BeginForm("Create", "Menu", FormMethod.Post, new Dictionary<string, object>() { { "class", "" }, { "onsubmit", "return validateCallback(this,navTabAjaxDone);" } }))
    {
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.Menu_CreateTime)
        @Html.HiddenFor(x => x.Menu_IsDel)
        @Html.HiddenFor(x => x.Menu_CreateUser)
        @Html.HiddenFor(x => x.Menu_Type)
        @Html.HiddenFor(x => x.Menu_ParentId)
        <div class="pageFormContent nowrap" layouth="97">
            <dl>
                <dt>菜单名称</dt>
                <dd>
                    @Html.TextBoxFor(m => m.Menu_Name)
                    @Html.ValidationMessageFor(m => m.Menu_Name)
                </dd>
            </dl>
            <dl>
                <dt>排序</dt>
                <dd>
                    @Html.TextBoxFor(m => m.Menu_Sort)
                    @Html.ValidationMessageFor(m => m.Menu_Sort)
                </dd>
            </dl>
        </div>
        <div class="formBar">
            <ul>
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
                <li><div class="button"><div class="buttonContent"><button type="button" class="close">关闭</button></div></div></li>
            </ul>
        </div>
    }
</div>