@model Shop.Model.SysOrg
@{
    ViewBag.Title = "SysOrg_Create";
}
<div class="page-header">
    <h4>
        添加组织机构</h4>
</div>
<div class="pageContent">
    @using (Html.BeginForm("Create", "SysOrg", FormMethod.Post, new Dictionary<string, object>() { { "class", "" }, { "onsubmit", "return validateCallback(this,navTabAjaxDone);" } }))
    {
        <div class="pageFormContent " layouth="140">
            <dl>
                <dt>父级</dt>
                <dd>
                    @Html.HiddenFor(m => m.Id)
                    @Html.HiddenFor(m => m.ParentId)
                    @Html.ValidationMessageFor(m => m.ParentId)
                    @ViewBag.ParentName
                </dd>
            </dl>
            <dl>
                <dt>名称</dt>
                <dd>
                    @Html.TextBoxFor(m => m.Name)
                    @Html.ValidationMessageFor(m => m.Name)
                </dd>
            </dl>
            <dl>
                <dt>主管单位</dt>
                <dd>
                    @Html.RadioButtonFor(m => m.IsManager, 1, new { @checked = "checked" })是
                    @Html.RadioButtonFor(m => m.IsManager, 0)否
                    @Html.ValidationMessageFor(m => m.IsManager)
                </dd>
            </dl>
            <dl>
                <dt>状态</dt>
                <dd>
                    @Html.RadioButtonFor(m => m.Enabled, 1, new { @checked = "checked" })启用
                    @Html.RadioButtonFor(m => m.Enabled, 0)禁用
                    @Html.ValidationMessageFor(m => m.Enabled)
                </dd>
            </dl>
            <dl>
                <dt>排序号</dt>
                <dd>
                    @Html.TextBoxFor(m => m.OrderNum)
                    @Html.ValidationMessageFor(m => m.OrderNum)
                </dd>
            </dl>
            <dl>
                <dt>备注</dt>
                <dd>
                    @Html.TextAreaFor(m => m.Remark)
                    @Html.ValidationMessageFor(m => m.Remark)
                </dd>
            </dl>
        </div>
        <div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="submit">
                                保存</button></div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button type="button" class="close">
                                关闭</button></div>
                    </div>
                </li>
            </ul>
        </div>
    }
</div>
