@model Shop.Model.Navigation
@using Shop.Common
@{
    ViewBag.Title = "Navigation_Create";
}
<script type="text/javascript">
    function SiteConfig_Navigation_Create_UploadComplete(event, response, status) {
        if (status) {
            var json = eval("(" + response + ")");
            if (json.status == 1) {
                alertMsg.correct(json.msg);
                $('#Navigation_ImagePath').val(json.data.thumbnailFileName);
                $('#SiteConfig_Navigation_Create_imgTag').attr('src', json.data.thumbnailFileName);
            }
            else {
                alertMsg.error(json.msg);
            }
        }
    }
</script>
<h2 class="contentTitle">导航信息</h2>
<div class="pageContent">
    @using (Html.BeginForm("Create", "Navigation", FormMethod.Post, new Dictionary<string, object>() { { "class", "" }, { "onsubmit", "return validateCallback(this,navTabAjaxDone);" } }))
    {
        <div class="pageFormContent" layouth="140">
            <dl>
                <dt>导航名称</dt>
                <dd>
                    @Html.TextBoxFor(m => m.Navigation_Name)
                    @Html.ValidationMessageFor(m => m.Navigation_Name)
                </dd>
            </dl>
            <dl>
                <dt>导航图片</dt>
                <dd>
                    @Html.HiddenFor(m => m.Navigation_ImagePath, new { @readonly = "readonly" })
                    <input id="SiteConfig_Navigation_Create_UploadImg" type="file" name="filedata"
                           uploaderoption="{
                           uploader:'/Common/Upload/SingleFile?isReOriginal=1',
                    fileSizeLimit:'@Shop.Web.BaseData.SiteConfig.AttachSize KB',
                    fileTypeExts:'*.png;*.gif;*.jpg',
                    auto:true,
                    multi:false,
                    onUploadSuccess:SiteConfig_Navigation_Create_UploadComplete
                    }" />
                    @Html.ValidationMessageFor(m => m.Navigation_ImagePath)
                    <img src="@Model.Navigation_ImagePath" id="SiteConfig_Navigation_Create_imgTag" style="width:140px;height:140px" />
                </dd>
            </dl>
            <dl>
                <dt>排序</dt>
                <dd>
                    @Html.TextBoxFor(m => m.Navigation_Sort)
                    @Html.ValidationMessageFor(m => m.Navigation_Sort)
                </dd>
            </dl>
            <dl>
                <dt>常用导航</dt>
                <dd>
                    <label>@Html.RadioButton("Navigation_IsUse", 1, Model.Navigation_IsUse==1) 是</label>
                    <label>@Html.RadioButton("Navigation_IsUse", 0, Model.Navigation_IsUse==0) 否</label>
                    @Html.ValidationMessageFor(m => m.Navigation_IsUse)
                </dd>
            </dl>
            <dl>
                <dt>显示状态</dt>
                <dd>
                    <label>@Html.RadioButton("Navigation_Status", (int)Status.Show, (int)Status.Show == Model.Navigation_Status) 显示</label>
                    <label>@Html.RadioButton("Navigation_Status", (int)Status.Hide, (int)Status.Hide == Model.Navigation_Status) 隐藏</label>
                    @Html.ValidationMessageFor(m => m.Navigation_Status)
                </dd>
            </dl>
        </div>
        <div class="formBar">
            <ul>
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
                <li><div class="button"><div class="buttonContent"><button type="button" class="close">关闭</button></div></div></li>
            </ul>
        </div>
    }
</div>