@using System.Data
@model System.Data.DataTable
@foreach (DataRow sales in Model.Rows)
{
    <dd class=fl-item>
        <a href="/shangou/list/@sales["Id"]">
            <div class="img-wrapper">
                <img src="@sales["FileAttr_Path"]" alt="@sales["FileAttr_Name"]">
                <p class=time-wrapper><i class="fa fa-clock-o"></i>:<span class=time>@sales["FlashSales_EndTime"]</span></p>
            </div>
            <section class='slogan'><span class="fr discount">@(sales["FlashSales_Discount"])折起</span><span class="word">@sales["FlashSales_KeyWord"]</span></section>
        </a>
    </dd>
}