@model Shop.Model.Commodity
@using Shop.Common
@{
    ViewBag.Title = "Commodity_Create";
    var fileAttrList = ViewBag.FileAttrList as List<Shop.Model.FileAttr>;
}

<script type="text/javascript">
    //上传图片保存至服务端
    function SiteConfig_Commodity_Create_UploadComplete(event, response, status) {
        if (status) {
            var json = eval("(" + response + ")");
            if (json.status == 1) {
                $.post("/Common/Upload/AddPic", { "newFileName": json.data.newFileName, "originalFileName": json.data.originalFileName }, function (data) {
                    if (data.statusCode == "Ok") {
                        alertMsg.correct(json.msg);
                        $('#fileAttrTable tbody tr:last').before('<tr><td>' + json.data.originalFileName + '<input type="hidden" value=' + data.id + ' name="imageIds"/></td><td><img src=' + json.data.newFileName + ' style="width:90px;height:90px" /></td><td><a style="font-size: 12px; margin-left: 3px" title="删除" href="javascript:;" onclick="SiteConfig_Commodity_Create_DeleteFile(this,' + data.id + ');">删除</a><a style="font-size: 12px; margin-left: 3px" title="设置默认图片" href="javascript:;" onclick="SiteConfig_Commodity_Create_SetDefaultImg(this);">默认图片</a></td></tr>');
                    }
                    else {
                        console.log(data.msg);
                        alertMsg.error(data.msg);
                    }
                });
            }
            else {
                console.log(json.msg);
                alertMsg.error(json.msg);
            }
        }
    }

    //删除图片
    function SiteConfig_Commodity_Create_DeleteFile(btn, id) {
        $.post("/Common/Upload/DeleteFile", { "id": id }, function (data) {
            if (data.statusCode == "200") {
                alertMsg.correct(data.message);
                $(btn).closest('tr').remove();
            }
            else {
                console.log(data.message);
                alertMsg.error(data.message);
            }
        });
    }
    //设置默认图片
    function SiteConfig_Commodity_Create_SetDefaultImg(btn) {
        var src = $(btn).closest('tr').find('img').attr('src');
        $('#imgCommodity').attr('src', src);
        $('#Commodity_ImagePath').val(src);
    }
</script>
<h2 class="contentTitle">商品管理</h2>
<div class="pageContent">
    @using (Html.BeginForm("Create", "Commodity", FormMethod.Post, new Dictionary<string, object>() { { "class", "" }, { "onsubmit", "return validateCallback(this,navTabAjaxDone);" } }))
    {
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.Commodity_CreateTime)
        @Html.HiddenFor(x => x.Commodity_IsDel)
        @Html.HiddenFor(x => x.Commodity_User)
        @Html.HiddenFor(x => x.Commodity_Sales)
        <div class="pageFormContent" layouth="140">
            <dl>
                <dt>商品图片</dt>
                <dd style="width:500px">
                    <input id="SiteConfig_Commodity_Create_UploadImg" type="file" name="filedata"
                           uploaderoption="{
                           uploader:'/Common/Upload/SingleFile?isReOriginal=1&isThumbnail=1',
                    fileSizeLimit:'@Shop.Web.BaseData.SiteConfig.AttachSize KB',
                    fileTypeExts:'*.png;*.gif;*.jpg',
                    auto:true,
                    multi:false,
                    onUploadSuccess:SiteConfig_Commodity_Create_UploadComplete
                    }" />
                    <table id="fileAttrTable" width="100%" class="list">
                        <thead style="font-weight: bold">
                            <tr>
                                <td width="200px">
                                    文件名称
                                </td>
                                <td>
                                    文件大小
                                </td>
                                <td>
                                    操作
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var f in fileAttrList)
                            {
                                <tr>
                                    <td>
                                        @f.FileAttr_Name
                                        <input type="hidden" name="imageIds" />
                                    </td>
                                    <td>
                                        <img src="@f.FileAttr_Path" style="width:90px;height:90px" />
                                    </td>
                                    <td>
                                        <a style='font-size: 12px; margin-left: 3px' title='删除' href="javascript:;" onclick="SiteConfig_Commodity_Create_DeleteFile(this,@f.Id);">
                                            删除
                                        </a>
                                        <a style="font-size: 12px; margin-left: 3px" title="设置默认图片" href="javascript:;" onclick="SiteConfig_Commodity_Create_SetDefaultImg(this);">
                                        默认图片
                                        </a>
                                    </td>
                                </tr>
                            }
                            <tr style="display:none"><td colspan="3"></td></tr>
                        </tbody>
                    </table>
                </dd>
            </dl>
            <dl>
                <dt>商品默认图片</dt>
                <dd>
                    @Html.HiddenFor(m =>m.Commodity_ImagePath)
                    <img src="@Model.Commodity_ImagePath" id="imgCommodity" style="width:140px;height:140px" />
                    @Html.ValidationMessageFor(m => m.Commodity_ImagePath)
                </dd>
            </dl>

            <dl>
                <dt>商品标签</dt>
                <dd>
                    @Html.HiddenFor(m => m.Commodity_TagId, new { dataField = "selectTag.Id" })
                    <input type="text" readonly="readonly" class="required" datafield="selectTag.TagName" value="@ViewBag.TagName" />
                    <a href="/SiteConfig/Commodity/SelectTag" class="btnLook" lookupgroup="selectTag">
                        选择标签
                    </a>
                    @Html.ValidationMessageFor(m => m.Commodity_TagId)
                </dd>
            </dl>

            <dl>
                <dt>商品名称</dt>
                <dd>
                    @Html.TextBoxFor(m => m.Commodity_Name)
                    @Html.ValidationMessageFor(m => m.Commodity_Name)
                </dd>
            </dl>

            <dl>
                <dt>显示状态</dt>
                <dd>
                    <label>@Html.RadioButton("Commodity_Status", (int)Status.Show, (int)Status.Show == Model.Commodity_Status) 显示</label>
                    <label>@Html.RadioButton("Commodity_Status", (int)Status.Hide, (int)Status.Hide == Model.Commodity_Status) 隐藏</label>
                    <label>@Html.RadioButton("Commodity_Status", (int)Status.View, (int)Status.View == Model.Commodity_Status) 展示不出售</label>
                    @Html.ValidationMessageFor(m => m.Commodity_Status)
                </dd>
            </dl>
            <dl>
                <dt>销量</dt>
                <dd>
                    @Model.Commodity_Sales
                </dd>
            </dl>
            <dl>
                <dt>提醒</dt>
                <dd>
                    @Html.TextBoxFor(m => m.Commodity_Remind)
                    @Html.ValidationMessageFor(m => m.Commodity_Remind)
                </dd>
            </dl>
            <dl>
                <dt>原价</dt>
                <dd>
                    @Html.TextBoxFor(m => m.Commodity_CostPrice)
                    @Html.ValidationMessageFor(m => m.Commodity_CostPrice)
                </dd>
            </dl>
            <dl>
                <dt>折扣系数</dt>
                <dd>
                    @Html.TextBoxFor(m => m.Commodity_Discount, new { placeholder = "为空表示不打折" })
                    @Html.ValidationMessageFor(m => m.Commodity_Discount)
                </dd>
            </dl>
            <dl>
                <dt>剩余数量</dt>
                <dd>
                    @Html.TextBoxFor(m => m.Commodity_ResidueCount)
                    @Html.ValidationMessageFor(m => m.Commodity_ResidueCount)
                </dd>
            </dl>
            <dl>
                <dt>有效期截止时间</dt>
                <dd>
                    <input type="text" name="Commodity_ValidityTime" class="wdate" datefmt="yyyy-MM-dd" mindate="%y-%M-%d" value="@string.Format("{0:yyyy-MM-dd}", Model.Commodity_ValidityTime)" data-val="true" data-val-required="必填" />
                    @Html.ValidationMessageFor(m => m.Commodity_ValidityTime)
                </dd>
            </dl>
            <dl>
                <dt>备注</dt>
                <dd>
                    @Html.TextAreaFor(m => m.Commodity_Remark, new { rows = "16", cols = "100", @class = "editor", tools = "Cut,Copy,|,Blocktag,Fontface,FontSize,Bold,Italic,Underline,Strikethrough,FontColor,BackColor,SelectAll,Removeformat,|,Align,List,Outdent,Indent,|,Fullscreen,Emot,Table,Hr" })
                    @Html.ValidationMessageFor(m => m.Commodity_Remark)
                </dd>
            </dl>
            <dl>
                <dt>图文详情</dt>
                <dd>
                    <div class="unit">
                        @Html.TextAreaFor(m => m.Commodity_Content, new { rows = "50", cols = "100", @class = "editor", tools = "Cut,Copy,|,Blocktag,Fontface,FontSize,Bold,Italic,Underline,Strikethrough,FontColor,BackColor,SelectAll,Removeformat,|,Align,List,Outdent,Indent,|,Fullscreen,Emot,Table,Hr" })
                    </div>

                </dd>
            </dl>
        </div>
        <div class="formBar">
            <ul>
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
                <li><div class="button"><div class="buttonContent"><button type="button" class="close">关闭</button></div></div></li>
            </ul>
        </div>
    }
</div>