@using Shop.Model
@using Shop.Web.ViewModel
@model Shop.Model.Commodity
@{
    var commodity = Model;
    ViewBag.Title = "药品详情";
    Layout = "~/Areas/Phone/Views/Shared/_Layout.cshtml";
}
@section Head
{
    <link href='@Url.Content("~/Scripts/plugin/swiper/css/swiper.min.css")' rel="stylesheet" />
    <script src='@Url.Content("~/Scripts/plugin/swiper/js/swiper3.0.8.min.js")'></script>
    <script src='@Url.Content("~/Scripts/plugin/picturePreview/js/zepto.picturePreview.min.js")'></script>
}

<header class="tc header">
    <a href='javascript:history.go(-1);' class="goback"></a>
    <h2>@commodity.Commodity_Name</h2>
</header>
<div class="main pro">
    <article class="pro-detail">
        <!--药品图片列表-->
        @*@Html.Action("CommodityImgList", new { id = @Model.Id })*@
        @Html.Partial("Partial/ImgList", ViewBag.ImgList as List<FileAttr>)

        <div class="img-nav">
            <span></span>
            <span></span>
            <span class=on></span>
            <span></span>
            <span></span>
        </div>
        <section class="pd-info">
            <h2 class="name">@commodity.Commodity_Name</h2>
            <p class="declare">@commodity.Commodity_Remind</p>
            <p class="price">
                <span class="fr remain">剩余：<span class="this-price">@commodity.Commodity_ResidueCount</span>件</span>
                抢购价：<span class="this-price">¥@(Convert.ToDecimal(commodity.Commodity_CostPrice * commodity.Commodity_Discount / 10).ToString("F"))</span>
                <del class='that-price color-light ft12'>原价：¥@commodity.Commodity_CostPrice.ToString("F")</del>
            </p>
        </section>
        <ul class=pd-come>
            <li>@commodity.Commodity_Remark</li>
            <li>联系电话：<a href="tel:@ApplicationConfigs.GetConfigInfo.Tel">@ApplicationConfigs.GetConfigInfo.Tel</a></li>
            <li>联系微信：<span>@ApplicationConfigs.GetConfigInfo.WeiXin</span></li>
        </ul>
        <!--图文详情-->
        <section class="intro">
            <h3 class=intro-title><span>向下滚动，查看图文详情</span></h3>
            @if (!string.IsNullOrEmpty(commodity.Commodity_Content))
            {
                <div class="intro-text">
                    @Html.Raw(commodity.Commodity_Content)
                </div>
            }
            else
            {
                <div class="intro-img tc">
                    <!--内容药品图片列表-->
                    @Html.Partial("Partial/CImgList", ViewBag.ImgList as List<FileAttr>)

                </div>
            }


        </section>
    </article>
    <article class='guess'>
        <h3>猜你还喜欢</h3>
        <!--相关药品列表-->
        @Html.Action("CommodityItemList", new { tagId = @Model.Commodity_TagId, PageNum = 1, NumPerPage = 12, notId = Model.Id })
    </article>
</div>
@section Js
{
    <script type="text/javascript">
        $(document).ready(function () {
            var mySwiper = new Swiper('.swiper-container', {
                preloadImages: false,
                autoplay: 1500,
                // 如果需要分页器
                pagination: '.swiper-pagination',
                preventLinksPropagation: false
                // 如果需要前进后退按钮
                //nextButton: '.swiper-button-next',
                //prevButton: '.swiper-button-prev',

                // 如果需要滚动条
                // scrollbar: '.swiper-scrollbar'
            });

            var guessSwiper = new Swiper('.swiper-container-guess', {
                preloadImages: false,
                autoplay: 3000
            });

        });


        $('.mainContaine-mask').hide();
        $('.pd-img li[data-src]').not('.swiper-slide-duplicate').picturePreview();

    </script>
}
